*{
    font-family: 'Bebas Neue';
}
html{
    background-size: cover;
}

@keyframes float {

    0%, 100%{
        transform: scale(1);
        box-shadow: 0 10px 14px 1px rgba(0, 0, 0, 0.658);

    }
    35% { transform: scale(0.997);
        box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.699);

    }
}
@keyframes float2 {
    0%, 100%{
        transform: scale(1);

    }
    35% { transform: scale(0.9);
    }
}

#card-container{
    display: flex;
    width: 90vw;
    height:80vh;
    margin-right: auto;

  }

.card{
    animation: float 3s infinite;
    background-color: rgb(43, 57, 66);
    background-image: url(profile1.jpg);
    background-repeat: no-repeat;
    box-shadow: 0 0 14px 1px rgb(75, 70, 70);
    background-size: cover;
    background-position: right;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    margin-left: 10vw;
    margin-top: 7vh;
    padding: 1vw;
    border-style: inset;
    border-color: rgba(26, 53, 71, 0.863);
    border-width: 2px;
    display: flex;
    min-width: 300px;
}
.card h1{
    max-width: 50%;
    font-size: 3rem;
}

/* mobile fit */
@media screen and (max-width:800px) {
    .card{
        position: unset !important;
        background-position: 80%;
        min-width: 80vw !important;
        max-width: 80vw !important;
        
    }
    #card-container{
        width: 80vw !important;
        margin: 0;
    }

    .homepage-items{
        position: absolute !important;
        display: flex !important;
        width: 85% !important;
        height: 30% !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin-top: 20vh;

    }
    .homepage-items > h1{
        width: 100% !important;
        font-size: xx-large !important;
        text-align: center;
        margin: auto !important;
        padding: 0 !important;
    }
    #social-wrapper{
        width: 100% !important;
        display: flex;
        justify-content: space-around;
    }
    #linkedin, #github{
        margin: 0px !important;
        width: 8vw !important;
        position: unset !important;
    }
    #enter-button{
        width: 100%;
        position: unset !important;
        padding: 5vh 0 5vh 0 !important;
    }
    .about-me{
        font-size: 3rem;
        max-width: 100% !important;
        /* width: 100% !important; */
        /* text-align: center !important; */
        display: flex;
        margin:  5% 0 0 50% !important;
        transform: translate(-25%) !important;
    }
    .text-drop{
        width: 100%;
        align-content: center !important;
    }
    .about-info{
        flex-direction: column !important;
        width: 80% !important;
        height: 65% !important;
        position: unset !important;
        margin: auto !important;
    }
    .about-info > p{
        font-size: medium !important;
    }
    #sherry{
        height: 20%;
    }
    
}
@media screen and (max-height:400px) {
    .homepage-items{
        position: absolute;
        top: -14vh;
    }
    .homepage-items h1 {
        line-height: 50px;
        margin-bottom: -5vw !important;
    }
    .homepage-items img {
        height: 15vw !important;
    }
    #enter-button{
        margin-top: 10vh !important; 
    }
}

.place-holder{
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    z-index: 0;
    border-radius: 1vw;
    margin-left: 10vw;
    margin-top: 7vh;
    padding: 1vw;
    width: 80vw;
    height: 80vh;
    transform: scale(0.01);
    filter: blur(10px);

}
#github img, #linkedin img{
    width: 100%;
}
#linkedin:hover, #github:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgb(173, 107, 31));
}
#social-wrapper{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    float: left;

}
#linkedin, #github{
    padding-bottom: 2vw;
    padding-top: auto;
    padding-right: 2vw;
    /* margin-top: -3vw; */
    width: 5vw;
    position: unset !important;
}
.homepage-items{
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-left: 5vw;
    align-content: center;
}
.homepage-items > h1 {
    margin: 0px;
    padding: 0px;
}
#name{
    float: left;
    margin-top: 30vh;
}
#enter-button{
    font-size: 4rem;
    position: absolute;
    padding: 3vw;
    right: 5vw;
    bottom: 0;
}
#enter-button:hover{
    cursor: url('my_pointer.png'), auto;
    animation: float2 0.5s infinite;
}
.about-me{
    color:rgb(0, 0, 0);
    filter: drop-shadow(0 0 6px rgba(37, 83, 31, 0.842));
    margin-top: 34vh;
    margin-left: 6vw;
    max-width: 20vw;
}
.text-drop{
    cursor: url('my_pointer.png'), auto;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    margin-left: -1.1vw;
    margin-top: -1.1vw;

    background-color: rgba(255, 255, 255, 0.274);
}
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
.about-info{
    width: 62%;
    height: 87%;
    color: rgb(255, 255, 255);
    background-color: rgba(7, 1, 1, 0.356);
    position: absolute;
    margin-left: 25vw;
    border-radius: 0.5vw;
    top: 4vh;
    padding: 1vw;
    /* font-size: x-large; */
    text-align: left;
    overflow: scroll;
}
.about-info p {
    font-family: 'Oswald' !important;
    font-size: 1.5rem;
}
.about-info h2{
    font-size: xx-large;
    color: rgb(26, 33, 43);
    line-height: 0;
}
#sherry{
    min-height: 2vw;
    max-height: 23vh;
    margin-left: 5vw;
    transform: rotateY(180deg);
}
#project-grid{
    position: absolute;
    top: -2vh;
}
@media screen and (max-height:620px) {

    .card{
        min-width: 80vw !important;
        max-width: 80vw !important;
    }

    .homepage-items > h1 {
        font-size: 3vw !important;
        line-height: normal;

    }

    #project-grid {
        position: fixed !important;
        display: flex !important;
        top: 27vh !important;
        margin-left: 8vw !important;
        margin-right: 8vw !important;
        width: 80% !important;
    }
    #burger-world, #pace, #mh, #seen-it, #codebreakers, #friendo{
        position: unset !important;
        overflow: hidden !important;
        flex-direction: row !important;
        margin: -3vw !important;
        height: 11.4vw !important;
    }
    .burger-text p, .imdb-text p, .codebreakers-text p, .pace-text p, .friendo-text p, .mh-text p{
        font-size: 3vh !important;
        margin-top: -2vh !important;
    }
    #burger-container .burger-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 12vw !important;
        width: 14.8vw !important;
    }
    #codebreakers-container .codebreakers-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 12vw !important;
        width: 15.6vw !important;
    }
    #imdb-container .imdb-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 3vw !important;
        width: 13.5vw !important;
    }
    #pace-container .pace-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 12vw !important;
        width: 16.8vw !important;
    }
    #friendo-container .friendo-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 12vw !important;
        width: 20.2vw !important;
    }
    #mh-container .mh-text{
        margin-left: -3vw !important;
        margin-top: -3vw !important;
        height: 12vw !important;
        width: 16vw !important;
    }
    #projects-header{
        width: 100% !important;
        text-align: center;
        position: absolute !important;
        margin-top: -1.3vw !important;
        font-size: 7vw !important;
        background-color: rgba(255, 255, 255, 0.335);
        padding-left: 1vw;
        margin-left: auto;
        margin-right: auto;
        padding-right: 1vw;
        border-radius: 1vw;
    }
    #projects-header:hover{
        z-index: -1 !important;
    }
    #projexit{
        position: absolute !important;
        margin-left: 57vw !important;
        margin-top: 38vh !important;
    }
}
#burger-container,
#burger-container *{
    box-sizing: border-box;
}
#imdb-container,
#imdb-container {
    box-sizing: border-box;
}
#codebreakers-container,
#codebreakers-container *{
    box-sizing: border-box;
}
#pace-container,
#pace-container *{
    box-sizing: border-box;
}
#friendo-container,
#friendo-container *{
    box-sizing: border-box;
}
#mh-container,
#mh-container *{
    box-sizing: border-box;
}
#burger-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
    /* overflow: hidden; */
}
#imdb-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#codebreakers-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#pace-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#friendo-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#mh-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#burger-container #burger-world{
    display: block;
}
#imdb-container #seen-it{
    display: block;
}
#codebreakers-container #codebreakers{
    display: block;
}
#pace-container #pace{
    display: block;
}
#friendo-container #friendo{
    display: block;
}
#mh-container #mh{
    display: block;
}
#burger-container .burger-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 18vw;
    width: 22.1vw;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
    margin-top: 10vh;
    margin-left: 3vw;

	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#imdb-container .imdb-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 9vw;
    width: 22.1vw;
    margin-left: 17vw;
    margin-top: 10vh;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.534);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#codebreakers-container .codebreakers-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 18vw;
    width: 23.4vw;
    margin-left: 36vw;
    margin-top: 10vh;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.527);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#pace-container .pace-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 18vw;
    width: 25.15vw;
    margin-left: 51vw;
    margin-top: 10vh;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#friendo-container .friendo-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 18vw;
    width: 30.25vw;
    margin-left: 14vw;
    margin-top: 35vh;
    border-radius: 1vw;
	background: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#mh-container .mh-text{
    text-align: center;
    font-size: 2vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 18vw;
    width: 24vw;
    margin-left: 40vw;
    margin-top: 35vh;
    border-radius: 1vw;
	background: rgba(255, 255, 255, 0.685);
    color: rgb(0, 0, 0);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
p{
    font-size: 1.3vw;
}
#burger-container:hover .burger-text,
#burger-container.active .burger-text{
    opacity: 1;
}
#imdb-container:hover .imdb-text,
#imdb-container.active .imdb-text{
    opacity: 1;
}
#codebreakers-container:hover .codebreakers-text,
#codebreakers-container.active .codebreakers-text{
    opacity:1;
}
#pace-container:hover .pace-text,
#pace-container.active .pace-text{
    opacity: 1;
}
#friendo-container:hover .friendo-text,
#friendo-container.active .friendo-text{
    opacity: 1;
}
#mh-container:hover .mh-text,
#mh-container.activer .mh-text{
    opacity: 1;
}
#burger-world{
    position: absolute;
    margin-left: 3vw;
    margin-top: 10vh;
    height: 18vw;
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
    

}
#seen-it{
    position: absolute;
    height: 18vw;
    border-radius: 3%;
    margin-left: 17vw;
    margin-top: 10vh;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;

}
#codebreakers{
    position: absolute;
    height: 18vw;
    margin-left: 36vw;
    margin-top: 10vh;

    /* columns: 3/4; */
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
}
#pace{
    position: absolute;
    height: 18vw;
    margin-left: 51vw;
    margin-top: 10vh;
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
}
#friendo{
    position: absolute;
    height: 18vw;
    margin-top: 35vh;
    margin-left: 14vw;
    border-radius: 1vw;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
    background-color: rgb(194, 200, 228);
}
#mh{
    position: absolute;
    height: 18vw;
    margin-right: -5vw;
    margin-top: 35vh;
    margin-left: 40vw;
    border-radius: 1.01vw;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
    color: white;
}
#burger-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1);
    margin-left: 1vw;
    margin-right: 4vw;
    z-index: 3;
    
}
#imdb-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1);
    /* margin-left: 4vw; */
    margin-right: 4vw;
    z-index: 3;
}
#codebreakers-container:hover{
    transition: 0.5s;
    transform: rotate(1deg) scale(1.1) translate(-5vw);
    margin-left: 1.4vw;
    z-index: 3;

}
#pace-container:hover{
    transition: 1s;
    transform: rotate(-3deg) scale(1.1) translate(-10vw);
     z-index:3;
}
#friendo-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1) translateY(-1vw);
    margin-right: 1vw;
    margin-left: 1vw;
    z-index: 3;
}

#mh-container:hover{
        transition: 0.5s;
        transform: rotate(2deg) scale(1.1) translateY(-3vw);
        margin-left: 2vw;
        z-index: 3;
}

#projects-header{
    position: absolute;
    font-size: 12vw;
    letter-spacing: 1.5vw;
    z-index: 2;
    margin-left: 15vw;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 10px rgb(165, 145, 184));
    margin-top: 27vh;
}
#projects-header:hover{
    z-index: -1;}

#projexit{
    /* position: absolute; */
    width: 15vw;
    font-size: 5vw;
    margin-left: 60vw;
    margin-top: 64vh;
}
#projexit:hover{
    cursor: url('my_pointer.png'), auto;
    animation: float2 0.5s infinite;
}